<connectionStrings>
 
  <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWebSite-2dbb5e49-b540-414e-9aca-26b1687ffb37;AttachDbFilename=|DataDirectory|\aspnet-ChinookWebSite-2dbb5e49-b540-414e-9aca-26b1687ffb37.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
